@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Orbitron', sans-serif;    
}

.cal-container {
    padding: 30px;
    margin: 0 auto;
    background-color: rgb(12, 1, 23);
    font-size: 50px;
    color: white;
    text-align: center;
}

table {
    margin-top: 50px;
    background-color: rgb(12, 1, 23);
    padding: 20px;
    margin-left: 10%;
    font-family: 'Orbitron', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 10px;
}



input[type="text"] {
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    background-color: white;
    color: black;
    padding: 5px 10px;
}


input[type="button"] {
    font-family: 'Orbitron', sans-serif;
    background: rgb(112, 2, 159) ;
    font-size: 30px;
    color: white;
    padding: 2px 30px;
    border: solid rgb(12, 1, 23) 0.5px;
    outline: none;
    min-width: 100%;
    border-radius: 5px;
    text-align: center;

}


input[type="button"]:hover {
    background-color: white;
    color: black;
    transition: 0.3s ease-in-out;

}

#btn {
    background-color: orangered;
}


td {
    font-size: 30px;
    padding: 20px;
}