body {
    font-family: Arial, sans-serif;
  }
  #app {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px 60px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    
  }
  .todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }

  input {
    font-size: 16px;
    border: 0.1px solid #ff6347;
    transition: 0.3s ease;
  }
  button {
    background-color: #ff6347;
    padding-top: 17px;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
.mg{
    display: flex;
    min-width: 100px;
}
  button:hover{
    background: white;
    color: #ff6347;
    border: 0.4px solid #ff6347;
    transition: 0.5s ease-in-out;
  }